@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

a {
  color: #5334f5;
  text-decoration: none;
  font-weight: 600;
}

.TopNavButton {
  padding: 8px 20px;
  font-size: 20px;
  background: #56ccf2;
  border: none; /* get rid of button defaults */
  font-weight: 700;
  border-radius: 10px;
  outline: none; /* get rid of outline/glow on element when clicking */
  cursor: pointer; /* turns cursor into pointer on hover */
}
